@font-face {
  font-family: 'Sophillia';
  src: url('../fonts/sophillia-webfont.woff2') format('woff2'),
       url('../fonts/sophillia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('../fonts/axiforma-medium-webfont.woff2') format('woff2'),
       url('../fonts/axiforma-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma-Book';
  src: url('../fonts/axiforma-book-webfont.woff2') format('woff2'),
       url('../fonts/axiforma-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}