body {
  margin: 0;
}

/* FAQ */
.faq-container {
  width: 100%;
  min-width: 300px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

#faq {
  margin: 130px 20px 130px 20px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.54);
  max-width: 400px;
}

#faq .artwork {
  flex-direction: column;
  align-items: center;
  margin: -109px 0 0 0;
}

#faq .artwork.desktop {
  display: none;
}

#faq .artwork.mobile {
  display: flex;
}

#faq .artwork .wrapper {
  display: inline-block;
}

#faq .artwork .wrapper img {
  margin: 0 0px 0px -29px;
}

#faq .artwork .wrapper + img {
  margin: -104px 0 0px 0;
}

#faq h1 {
  text-align: center;
  font-weight: bold;
}

#faq ul {
  list-style-type: none;
  padding: 0 15px;
}

#faq ul li {
  font-size: 12px;
  margin-top: 20px;
}

#faq ul li p {
  margin: 10px 0;
  display: block;
}

#faq ul li hr {
  margin: 0;
}

#faq ul li .faq-question {
  color: hsl(237, 12%, 33%);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#faq ul li .faq-question img {
  transform: rotate(0deg);
}

#faq ul li .faq-question.bold img {
  transform: rotate(180deg);
}

#faq ul li .faq-answer {
  color: hsl(240, 6%, 50%);
  /* line-height: 1.3; */
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

#faq ul li .faq-answer.show {
  max-height: 100px;
}

.bold {
  font-weight: bold;
  color: hsl(238, 29%, 16%);
}

@media (min-width: 767px) {
  #faq {
    flex-direction: row;
    padding: 0;
    max-width: 1000px;
    margin: 130px 80px 130px 80px;
  }

  #faq .content {
    padding: 60px;
  }

  #faq .artwork.desktop {
    margin: 0 0 0 0;
    display: flex;
  }

  #faq .artwork.mobile {
    display: none;
  }

  #faq .artwork.desktop {
    display: block;
    position: relative;
  }

  #faq .artwork.desktop .wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  #faq .artwork.desktop .wrapper .art-img {
    margin: 14% 0px 0px -82px;
  }

  #faq .artwork.desktop .cube,
  #faq .artwork.desktop .wrapper .shadow {
    position: absolute;
  }
  #faq .artwork.desktop .cube {
    left: -99px;
    margin: 48% 0 0 0;
    z-index: 2;
  }

  #faq .artwork.desktop .wrapper .shadow {
    left: -570px;
    margin: -87% 0 0 0;
  }

  #faq ul li {
    font-size: 18px;
  }
}

/* Article preview */

.article-preview-container {
  font-size: 13px;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  background: hsl(210, 46%, 95%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#article {
  max-width: 340px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 2px 3px 40px 0px rgba(0, 0, 0, 0.1);
}

#article .img-wrapper {
  height: 225px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

#article .img-wrapper img {
  width: 100%;
}

#article .content h2 {
  color: hsl(217, 19%, 35%);
  font-size: 18px;
  margin: 30px 25px 20px 25px;
}

#article .content p {
  color: hsl(212, 23%, 69%);
  letter-spacing: 0.05rem;
  margin: 0 25px 20px 25px;
}

#article .content .author {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 25px;
}

#article .content .author .wrapper {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
}

#article .content .author .wrapper img {
  width: 100%;
}

#article .content .author .article-info {
  flex: 1;
  padding-left: 20px;
}

#article .content .author .article-info .author-name {
  margin: 0;
  color: hsl(217, 19%, 35%);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#article .content .author .article-info .article-date {
  margin: 5px 0 0 0;
}

#article .content .author .btn-share {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#article .content .author .share-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: -1;
}

#article .content .author .share-container .share-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  padding: 0 25px;
  background: hsl(217, 19%, 35%);
  border-radius: 0 0 15px 15px;
}

#article .content .author .btn-share:hover + .share-container,
#article .content .author .share-container:hover {
  opacity: 1;
  z-index: 0;
}

#article .content .author .share-container p {
  margin: 0;
  letter-spacing: 0.4rem;
}

#article .content .author .share-container a {
  margin-left: 20px;
}

#article .content .author .share-container .btn-share {
  background: hsl(214, 17%, 51%);
  margin-left: auto;
}

#article .content .author .share-container .arrow {
  display: none;
}

@media (min-width: 767px) {
  #article {
    max-width: 720px;
    display: flex;
  }

  #article .img-wrapper {
    height: 300px;
    flex: 1 0 320px;
    border-radius: 15px 0 0 15px;
  }

  #article .img-wrapper img {
    height: 100%;
    width: auto;
  }

  #article .content {
    display: flex;
    flex-direction: column;
  }

  #article .content h2 {
    margin: 40px 40px 20px 40px;
  }

  #article .content p {
    margin: 0 40px 20px 40px;
    letter-spacing: 0;
    font-size: 12px;
    flex: 1 1 auto;
  }

  #article .content .author {
    padding: 0 40px 40px 40px;
  }

  #article .content .author .share-container {
    width: auto;
    height: calc(100% + 50px);
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    left: 48%;
    top: -95px;
  }

  #article .content .author .share-container .share-wrapper {
    border-radius: 8px;
    height: calc(100% - 50px);
    box-shadow: 2px 3px 40px 0px rgba(0, 0, 0, 0.1);
  }

  #article .content .author .share-container a {
    margin-left: 20px;
  }

  #article .content .author .share-container .btn-share {
    display: none;
  }

  #article .content .author .share-container .arrow {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: hsl(217, 19%, 35%);
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    bottom: -10px;
  }
}
